<% layout('layouts/boilerplate') -%>
<div class="row mt-4">
    <div class="col-8 offset-2">     

    <h3>Edit your listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="required">Title</label>
        <input name="listing[title]" class="form-control" value="<%= listing.title %>" type="text" required/>
        <div class="invalid-feedback">
          Please provide a title.
        </div>
      </div>   

      <div class="mb-3">
        <label for="description" class="required">Description</label>
        <textarea name="listing[description]" class="form-control" minlength="20" maxlength="500" required><%= listing.description %></textarea>
        <div class="invalid-feedback">
          Please provide a description.
        </div>
      </div>   

      <div class="mb-3">
        <label for="" class="required">Image Upload</label>
        <input name="image" id="image" class="form-control" type="file"
        accept="image/png, image/jpeg, image/jpg, image/webp"
        />
        <div class="invalid-feedback">
            Please provide a listing image.
        </div>            
        <small id="fileError" class="text-danger"></small>
      </div>

      <div class="row">      
      <div class="mb-3 col-md-4" >
        <label for="price" class="required">Price</label>
        <input name="listing[price]" min="100" class="form-control" required value="<%= listing.price %>" type="number"/>
        <div class="invalid-feedback">
          Please provide a price.
        </div>
      </div>     

      <div class="mb-3 col-md-8">
        <label for="country" class="">Country</label>

        <select name="listing[country]" id="country" class="form-select" required>
          <% for (let country of countries) { %>
            <option value="<%= country %>" <%= country === listing.country ? 'selected' : '' %>><%= country %></option>
          <% } %>
        </select>        
        <div class="invalid-feedback">
          Please provide a country.
        </div>
      </div> 
      </div>     

      <div class="mb-3 col-md-8">
        <label for="location" class="required">Location</label>
        <input
        name="listing[location]" class="form-control"
        value="<%= listing.location %>"
        type="text"
        required/>
        <div class="invalid-feedback">
          Please provide a location.
        </div>
      </div>     

        <button class="btn btn-dark" type="submit">Update Listing</button>
        <br><br>
    </form>
    </div>
</div>