<% layout('layouts/boilerplate') -%>
<body>
    <h3>All Listings</h3>
<!-- <style>
    
</style>
<div id="filters">
    <div class="filters">
    <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </i>
    </div>
</div> -->
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
    <% for(let listing of listings) { %>
        <a href="/listings/<%= listing._id %>" class="text-decoration-none">
            <div class="card col listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing Image"
                 style="height: 20rem;">
                <div class="card-img-overlay">`</div>
                <div class="card-body">
                                        <p class="card-text">
                                        <b><%= listing.title %></b>
                                                            <% if (listing.ratings && listing.ratings.count > 0) { %>
                                                                <span class="text-warning ms-2"><i class="fa-solid fa-star"></i> <%= (typeof listing.ratings.average === 'number') ? listing.ratings.average.toFixed(2) : listing.ratings.average %></span>
                                                            <% } else { %>
                                                                <span class="text-muted ms-2"><i class="fa-solid fa-star"></i></span>
                                                            <% } %>
                                        <br>
                                        ₹<%= listing.price.toLocaleString("en-IN") %> per night
                                        </p>
                </div>
            </div>
        </a>
        <% } %>    
    </div>    
</body>